<div class="modal fade modal-accept-booking" id="modal-accept-booking" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <div class="hd">

                    <h4 class="orange">@Html.GetTrans(323)</h4>

                    <div class="row-fluid spaced">
                        <div class="span2 tright">@Html.GetTrans(307)</div>
                        <div class="span10" id="acceptpop-title"></div>
                    </div>

                    <div class="row-fluid spaced">
                        <div class="span2 tright">@Html.GetTrans(324)</div>
                        <div class="span10" id="acceptpop-student"></div>
                    </div>

                    <div class="row-fluid spaced">
                        <div class="span2 tright">@Html.GetTrans(309)</div>
                        <div class="span10"><span class="gray-light" id="acceptpop-date"></span></div>
                    </div>

                    <div class="row-fluid spaced">
                        <div class="span2 tright">@Html.GetTrans(312)</div>
                        <div class="span10"><span class="gray-light"><em>1</em> @Html.GetTrans(198)</span></div>
                    </div>

                </div>

                <div class="bd">

                    <h4>@Html.GetTrans(315)</h4>

                    <div class="row-fluid spaced">
                        <div class="span2 tright">@Html.GetTrans(317)</div>
                        <div class="span10">
                            <input type="text" id="acceptpop-contactname" class="form-control span6" value="@ViewBag.MemberInfo.Name" /></div>
                    </div>

                    <div class="row-fluid spaced">
                        <div class="span2 tright">@Html.GetTrans(318)</div>
                        <div class="span10">
                            <input type="text" id="acceptpop-contactphone" class="form-control span6" value="@ViewBag.MemberInfo.Phone" @(String.IsNullOrEmpty(ViewBag.MemberInfo.Phone)?"":"disabled=disabled") /></div>
                    </div>

                    <div class="row-fluid spaced">
                        <div class="span2 tright">@Html.GetTrans(227)</div>
                        <div class="span10"><input type="text" id="acceptpop-contactemail" class="form-control span6" value="@ViewBag.MemberInfo.Email" /></div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12 tright">
                            <input class="btn btn-warning" type="button" id="acceptpop-bookbtn" value="@Html.GetTrans(325)"></div>
                    </div>

                    <input type="hidden" id="acceptpop-hidorderid" />
                    <input type="hidden" id="acceptpop-hidstudentid" />
                    <input type="hidden" id="acceptpop-updatememberinfo" />
                    <input type="hidden" id="acceptpop-hidmailto" />
                    <input type="hidden" id="acceptpop-hidmobile" />
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end of modal: accept booking -->
