<!--<ul id="class-tabs" class="class-tabs">
    <li class="class-tabitem cur" id="fields1_btn"><span class="tabbg"></span><span class="class-tabitemicon"></span>
        <label>@Html.GetTrans(110)</label>
    </li>
    <li class="class-tabitem" id="fields2_btn"><span class="tabbg"></span><span class="class-tabitemicon"></span>
        <label>@Html.GetTrans(111)</label>
    </li>
    <li class="class-tabitem" id="fields3_btn"><span class="tabbg"></span><span class="class-tabitemicon"></span>
        <label>@Html.GetTrans(112)</label>
    </li>
    <li class="class-tabitem info"><span class="class-tabitemicon"></span>
        <label>Steps Left</label>
    </li>
</ul>-->
<ul id="class-tabs" class="class-tabs"> 		<li class="class-tabitem cur" id="fields1_btn">             <span class="tabbg"></span>             <span class="class-tabitemicon"></span>@Html.GetTrans(110)         </li> 		<li class="class-tabitem" id="fields2_btn">                 <span class="tabbg"></span>             <span class="class-tabitemicon"></span>@Html.GetTrans(111)         </li> 		<li class="class-tabitem" id="fields3_btn">                 <span class="tabbg"></span>             <span class="class-tabitemicon"></span>@Html.GetTrans(112)         </li> 		<li class="class-tabitem info">                 <span class="class-tabitemicon"></span>Steps Left         </li> 	</ul>
