@model SkillBank.Site.Web.ViewModel.ClassDetailModel
@using SkillBank.Site.Common
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

<!-- bug hack -->
<header class="bar-nav"></header>


<div class="course-page coursepreview-page bar bar-footer">
    <a class="" href="#reservation">
        <button class="btn btn-yellow">预定课程</button>
    </a>
    <a class="" href="#privateMsg">
        <button class="btn btn-yellow">私信老师</button>
    </a>
</div>
@if (Model.ClassInfo != null)
{
    <div class="course-page content">
        <a href="@Url.Action("index", "m")" class="icon icomoon icon-arrow-left nav-inner nav-left" data-transition="slide-out"></a>
        <div class="cover-box">
            <a href="#" class="ico-coin">
                <span>价格</span>
                <hr>
                <span>1课币</span>
            </a>
            <div class="cover-filter"></div>
            <img src="@(!String.IsNullOrEmpty(Model.ClassInfo.Cover) ? ContentHelper.GetClassCoverPath(Model.ClassInfo.Cover, "mb") : "/img/default_cover.png")" alt="" class="cover pull-left">

            <h3 class="white">@Model.ClassInfo.Title</h3>
            <div class="title-list">
                <a href="#" class="goto" data-for="comment">
                    <span class="icon icomoon icon-comment"></span>
                    <span class="comment-num">0</span>
                    <span>留言</span>
                </a>
                <a href="#" class="favorite">
                    <span class="icon icomoon icon-heart"></span>
                    <span class="num">0</span>
                    <span>喜欢</span>
                </a>
                <a href="#" class="olive">
                    <span class="icon icomoon icon-redo"></span>
                    <span>转发</span>
                </a>
            </div>
        </div>


        <div class="info">
            <a class="classdetail-avatar" href="@Url.Action("personal", "m", new { id = ViewBag.MemberInfo.MemberId })">
                <img src="@ContentHelper.GetAvatarPath(ViewBag.MemberInfo.Avatar, "h", ViewBag.MemberInfo.SocialType)" alt="" class="avatar">
            </a>
            <h5>@ViewBag.MemberInfo.Name<span class="icon icomoon @(ViewBag.MemberInfo.Gender ? "icon-male" : "icon-female")"></span></h5>
            <p>
                <small></small>
            </p>
            <a href="#" class="follow btn border-none btn-olive">关注</a>

            <div class="evaluation">
                <h5>老师自评</h5>
                <div class="table">
                    <a class="table-item border-right" href="#">
                        <h3 class="num">@(Model.ClassInfo == null ? 0 : Model.ClassInfo.SkillLevel)</h3>
                        <span class="tab-label">技能水平</span>
                    </a>
                    <a class="table-item" href="#">
                        <h3 class="num">@(Model.ClassInfo == null ? 0 : Model.ClassInfo.TeacheLevel)</h3>
                        <span class="tab-label">教学水平</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="course-detail">
            <h3>课程介绍</h3>
            <p class="padded-tex">
                @Html.Raw(TextContentHelper.GetTextContent(Model.ClassInfo.Summary))
            </p>
            @if (!String.IsNullOrEmpty(Model.ClassInfo.WhyU))
            {
                <p class="padded-tex">
                    @Html.Raw(TextContentHelper.GetTextContent(Model.ClassInfo.WhyU))
                </p>
            }

            <h4>
                <img src="/img/icons/icon-tag.png">
                <span>一节课用时</span>
            </h4>
            <p>
                @Html.Raw(TextContentHelper.GetTextContent(Model.ClassInfo.Period, 484))
            </p>
            <h4>
                <img src="/img/icons/icon-tag.png">
                <span>上课地点</span>
            </h4>
            <p>
                @Html.Raw(TextContentHelper.GetTextContent(Model.ClassInfo.Location, 484))
            </p>
            <h4>
                <img src="/img/icons/icon-tag.png">
                <span>能上课时间</span>
            </h4>
            <p>
                @Html.Raw(TextContentHelper.GetTextContent(Model.ClassInfo.Available, 484))
            </p>
            <h4>
                <img src="/img/icons/icon-tag.png">
                <span>课前须知</span>
            </h4>
            <p>
                @Html.Raw(TextContentHelper.GetTextContent(Model.ClassInfo.Remark, 484))
            </p>

        </div>
        <div id="comment">

            <div class="segmented-control">
                <a class="control-item active" href="#item1mobile">
                    <h3 class="comment-num">0</h3>
                    <h6>用户留言</h6>
                </a>
                <a class="control-item" href="#item2mobile">
                    <h3>0</h3>
                    <h6>学生评价</h6>
                </a>
                <a class="side-item" href="#">
                    <table>
                        <tr>
                            <td>综合评价</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>开课次数</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>学生人数</td>
                            <td>0</td>
                        </tr>
                    </table>
                </a>
            </div>

        </div>

    </div>
}