@using System.Data.Entity
@using SkillBank.Site.DataSource.Data
@model SkillBank.Site.Web.ViewModel.ClassListModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
<!-- bug hack -->
<header class="bar-nav" data-ismember="@ViewBag.IsLogin"></header>

@Html.Partial("_MobileMenuPartial")


<div class="content" id="course-search">
    <div class="search-bar">
        <img src="/images/logo.png" alt="" class="logo">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="icon icon-search"></span>
                </div>
                <input name="key" id="key" type="text" placeholder="搜索技能" class="icon icon-search" maxlength="50">
            </div>
        </div>
    </div>
    <div id="search-cat">
        <div class="search-cat-wrap toBeRemoved">
            <div class="inner">
                <!---->
                @if (!String.IsNullOrEmpty(ViewBag.SearchKey))
                {
                    <a data-ignore="push" class="active" href="?key=@ViewBag.SearchKey" data-by="3" data-type="1" data-key="@ViewBag.SearchKey">搜索"@(ViewBag.SearchKey.Length > 4 ? ViewBag.SearchKey.Substring(0, 4) + "..." : ViewBag.SearchKey)" </a>
                }
                <a data-ignore="push" href="#by=0&type=1" data-by="0" data-type="1">附近技能 </a>
                <a data-ignore="push" @(String.IsNullOrEmpty(ViewBag.SearchKey) ? "class=active" : "") href="#by=1&type=2" data-by="1" data-type="2">新荐技能 </a>
                <a data-ignore="push" href="#by=1&type=1" data-by="1" data-type="1">达人技能 </a>
                <a data-ignore="push" href="#by=1&type=3" data-by="1" data-type="3">小众奇葩 </a>
                @if (Model.CategoryLkp != null)
                {
                    foreach (var item in Model.CategoryLkp)
                    {        
                    <a data-ignore="push" class="" href="#by=2&type=@item.CateId" data-by="2" data-type="@item.CateId">@Html.GetTrans(item.BlubId)</a>
                    }
                }

            </div>
        </div>
    </div>
    <div class="course-list">

        @if (Model.ClassList != null)
        {
            foreach (var classItem in Model.ClassList)
            {
            <div class="course card" id="class-@classItem.ClassId">

                <div class="title-bar u-full-width">
                    <a class="classlist-cover" href="@Url.Action("course", "m", new { id = classItem.ClassId })">
                        <p class="pull-left">@Html.Raw(TagHelper.GetTextSubSting(classItem.Title, 20, true))</p>
                    </a>
                    <div class="pull-right">
                        <!--<a class="" href="@Url.Action("course", "m", new { id = classItem.ClassId })" class="icon icomoon icon-comment white classlist-cover">
                            <span class="num">@classItem.ReviewNum</span>
                        </a>-->
                        <a href="#" class="icon icomoon icon-heart toggle-like white @(classItem.IsLike ? "liked" : "")" data-classid="@classItem.ClassId">
                            <span class="num">@classItem.LikeNum</span>
                        </a>
                    </div>
                </div>
                <a class="classlist-cover" href="@Url.Action("course", "m", new { id = classItem.ClassId })">
                    <img src="@ContentHelper.GetClassCoverPath(classItem.Cover, "h")" alt="" class="cover">
                </a>
                <div class="info">
                    <a class="classlist-avatar" href="@Url.Action("personal", "m", new { id = classItem.Member_Id })">
                        <img src="@ContentHelper.GetAvatarPath(classItem.Avatar, "mb")" alt="" class="avatar">
                    </a>
                    <h4>@classItem.Name</h4>
                    <p>@(classItem.CityId.Equals(0) ? "" : TagHelper.GetCityName(classItem.CityId))</p>
                </div>
            </div>
            }
        }
    </div>

    <script type="text/template" id="course-tpl">
        <% _.forEach(courses, function(course) {%>
          <div class="course card" id="class-<%- course.ClassId %>">
            <div class="title-bar u-full-width">
              <a class="classlist-cover" href="/m/course/<%- course.ClassId %>">
                  <p class="pull-left"><%- course.Title %></p>
              </a>
              <div class="pull-right">
                <a href="#" class="icon icomoon icon-heart toggle-like white <%- course.IsLike?"liked":"" %> data-classid="<%- course.ClassId %>">
                  <span class="num"><%- course.LikeNum %></span>
                </a>
              </div>
              </a>
            </div>
            <a class="classlist-cover" href="/m/course/<%- course.ClassId %>">
              <img src="<%- checkImgHost(imgHost, course.Cover) %>" alt="" class="cover">
            </a>
            <div class="info">
              <a class="classlist-avatar" href="/m/personal/<%- course.Member_Id %>">
              <img src="<%- checkImgHost(imgHost, course.Avatar) %>" alt="" class="avatar">
              </a>
              <h4><%- course.Name %></h4>
              <p><%- course.CityName %></p>
            </div>
          </div>
        <% }); %>
    </script>

</div>
@section FooterScripts
{
    <script src="/bower_components/page/page.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=RZG8k5YBPYBRvU64kWTVLDsK"></script>
}
