@model SkillBank.Site.Web.ViewModel.MessageListModel
@{
    ViewBag.Title = "私信";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
@Html.Partial("_MobileMenuPartial")
<div class="content" id="message-page">
    <nav>
        <div class="segmented-control card">
            <a class="control-item active red-dot-wrapper message-tab" href="#item1mobile" data-memberid="@ViewBag.MemberInfo.MemberId">私信</a>
            <a class="control-item red-dot-wrapper action-tab" href="#" data-memberid="@ViewBag.MemberInfo.MemberId">@if (ViewBag.AlterNums != null && ViewBag.AlterNums["a"] > 0)
                                                                                                                     {<span class="red-dot"></span>}动态</a>
            <a class="control-item red-dot-wrapper notification-tab" href="#" data-memberid="@ViewBag.MemberInfo.MemberId">@if (ViewBag.AlterNums != null && ViewBag.AlterNums["s"] > 0)
                                                                                                                           {<span class="red-dot"></span>}通知</a>
        </div>
    </nav>
    <div>
        <div id="item1mobile" class="control-content active">
            <ul class="avatar-text private-msg">
                @if (Model.Messages != null && ViewBag.MemberInfo != null)
                {
                    foreach (var message in Model.Messages)
                    {
                        var contactId = (message.From_Id == ViewBag.MemberInfo.MemberId) ? message.To_Id : message.From_Id;
                    <li class="card">
                        <a href="" data-transition="slide-in">
                            <div class="pull-left flag-num">
                                <a href="@Url.Action("personal", "m", new { id = contactId })">
                                    <img class="avatar" src="@ContentHelper.GetAvatarPath(message.Avatar, "mm")">
                                </a>
                                <span class="badge">@Html.Raw(TagHelper.GetNewMessageTag(Model.UnReadMessageNumDic, message.From_Id))</span>
                            </div>
                            <div class="msg-title">
                                <a href="/m/chat/@Html.Raw(contactId)">
                                    <time class="pull-right">@TextContentHelper.GetDateString(message.CreatedDate)</time>
                                    <h4 class="flag-num">@message.Name</h4>
                                </a>
                            </div>
                            <a href="/m/chat/@Html.Raw(contactId)">
                                <p>@Html.Raw(TagHelper.GetTextSubSting(message.MessageText, 20, true))</p>
                            </a>
                        </a>
                    </li>
                    }
                }
            </ul>
        </div>
        <div id="item2mobile" class="control-content">
            <ul class="avatar-text private-msg">
                @if (Model.Notifications != null && ViewBag.MemberInfo != null)
                {
                    foreach (var notification in Model.Notifications)
                    {
                    <li class="card">
                        <a href="#" data-transition="slide-in">
                            <div class="pull-left flag-num">
                                <a href="@Url.Action("personal", "m", new { id = notification.RelatedMemberId })">
                                    <img class="avatar" src="@ContentHelper.GetAvatarPath(notification.Avatar, "mm")">
                                </a>
                                @if (notification.TypeRank < 2)
                                {
                                    <span class="badge">1</span>
                                }
                            </div>
                            @if (notification.TypeId.Equals(6))
                            {
                                <div class="msg-title">
                                    <a href="@Url.Action("course", "m", new { id = notification.ClassOrderId })#comment">
                                        <time class="pull-right">@TextContentHelper.GetDateString(notification.LastUpdateDate)</time>
                                        <h4 class="flag-num">@notification.Name</h4>
                                    </a>
                                </div>
                                <a href="@Url.Action("course", "m", new { id = notification.ClassOrderId })#comment">
                                    <p>在你的课程《 @Html.Raw(TagHelper.GetTextSubSting(notification.Title, 20, true)) 》上留言</p>
                                </a>}
                            else if (notification.TypeId.Equals(7))
                            {
                                <div class="msg-title">
                                    <a href="@Url.Action("course", "m", new { id = notification.ClassOrderId })#reviewtab">
                                        <time class="pull-right">@TextContentHelper.GetDateString(notification.LastUpdateDate)</time>
                                        <h4 class="flag-num">@notification.Name</h4>
                                    </a>
                                </div>
                                <a href="@Url.Action("course", "m", new { id = notification.ClassOrderId })#reviewtab">
                                    <p>评价了你教授的课程《 @Html.Raw(TagHelper.GetTextSubSting(notification.Title, 20, true)) 》</p>
                                </a>}
                            else if (notification.TypeId.Equals(8))
                            {
                                <div class="msg-title">
                                    <a href="@Url.Action("personal", "m")#reviewtab">
                                        <time class="pull-right">@TextContentHelper.GetDateString(notification.LastUpdateDate)</time>
                                        <h4 class="flag-num">@notification.Name</h4>
                                    </a>
                                </div>
                                <a href="@Url.Action("personal", "m")#reviewtab">
                                    <p>评价了你学习的课程《 @Html.Raw(TagHelper.GetTextSubSting(notification.Title, 20, true)) 》</p>
                                </a>
                            }
                            else if (notification.TypeId.Equals(9))
                            {
                                <div class="msg-title">
                                    <a href="@Url.Action("course", "m", new { id = notification.ClassOrderId })">
                                        <time class="pull-right">@TextContentHelper.GetDateString(notification.LastUpdateDate)</time>
                                        <h4 class="flag-num">@notification.Name</h4>
                                    </a>
                                </div>
                                <a href="@Url.Action("course", "m", new { id = notification.ClassOrderId })">
                                    <p>喜欢了你的课程《 @Html.Raw(TagHelper.GetTextSubSting(notification.Title, 20, true)) 》</p>
                                </a>
                            }
                            else if (notification.TypeId.Equals(30))
                            {
                                <div class="msg-title">
                                    <a href="@Url.Action("personal", "m")">
                                        <time class="pull-right">@TextContentHelper.GetDateString(notification.LastUpdateDate)</time>
                                        <h4 class="flag-num">@notification.Name</h4>
                                    </a>
                                </div>
                                <a href="@Url.Action("personal", "m")">
                                    <p>关注了你</p>
                                </a>
                            }
                        </a>
                    </li>
                    }
                }
            </ul>
        </div>
        <div id="item3mobile" class="control-content">
            <ul class="avatar-text">
                <li class="card">
                    <div class="msg-title">
                        <time class="pull-right">@TextContentHelper.GetDateString(new DateTime(2015, 05, 13))</time>
                        <h4 class="flag-num">@Html.GetTrans(696)<!--<span class="badge">1</span>-->
                        </h4>
                    </div>
                    <p>
                        @Html.GetTrans(697)
                    </p>
                </li>

            </ul>
        </div>
    </div>

</div>
