@model SkillBank.Site.Web.ViewModel.MessageListModel
@{
    ViewBag.Title = "私信";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
@Html.Partial("_MobileMenuPartial")
<div class="content" id="message-page">
    <nav>
        <div class="segmented-control card">
            <a class="control-item active red-dot-wrapper message-tab" href="#item1mobile">私信</a>
            <a class="control-item red-dot-wrapper notification-tab" href="#">@if (ViewBag.AlterNums != null && ViewBag.AlterNums["s"] > 0)
                                                                                                {<span class="red-dot"></span>}通知</a>
        </div>
    </nav>
    <div>
        <div id="item1mobile" class="control-content active">
            <ul class="avatar-text private-msg">
                @if (Model.Messages != null && ViewBag.MemberInfo != null)
                {
                    foreach (var message in Model.Messages)
                    {
                        var contactId = (message.From_Id == ViewBag.MemberInfo.MemberId) ? message.To_Id : message.From_Id;
                    <li class="card">
                        <a href="" data-transition="slide-in">
                            <div class="pull-left flag-num">
                                <a href="@Url.Action("personal", "m", new { id = contactId })">
                                    <img class="avatar" src="@ContentHelper.GetAvatarPath(message.Avatar, "mm")">
                                </a>
                                <span class="badge">@Html.Raw(TagHelper.GetNewMessageTag(Model.UnReadMessageNumDic, message.From_Id))</span>
                            </div>
                            <div class="msg-title">
                                <a href="/m/chat/@Html.Raw(contactId)">
                                    <time class="pull-right">@TextContentHelper.GetDateString(message.CreatedDate)</time>
                                    <h4 class="flag-num">@message.Name</h4>
                                </a>
                            </div>
                            <a href="/m/chat/@Html.Raw(contactId)">
                                <p>@Html.Raw(TagHelper.GetTextSubSting(message.MessageText, 20, true))</p>
                            </a>
                        </a>
                    </li>
                    }
                }
            </ul>
        </div>
        <div id="item2mobile" class="control-content">
            <ul class="avatar-text">
                <li class="card">
                    <div class="msg-title">
                        <time class="pull-right">@TextContentHelper.GetDateString(new DateTime(2015, 05, 13))</time>
                        <h4 class="flag-num">技能银行手机公测版正式上线啦<!--<span class="badge">1</span>-->
                        </h4>
                    </div>
                    <p>
                        关注技能银行订阅号SkillBank,可以随时访问我们的手机平台。公测期间如有任何问题或反馈，请通过订阅号或平台私信技能菌。
                    </p>
                </li>

            </ul>
        </div>
    </div>

</div>
