@model SkillBank.Site.Web.ViewModel.ProfilelModel
@using SkillBank.Site.Common
@{
    ViewBag.Title = "个人主页";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
@Html.Partial("_MobileMenuPartial")

<!-- bug hack -->
<header class="bar-nav" data-ismember="@ViewBag.IsLogin"></header>

<div class="content personal-page" id="personal-page">
    <!--<a class="icon icomoon icon-redo pull-right nav-inner nav-right nav-back"></a>
    <a href="#" class="icon icomoon icon-arrow-left nav-inner nav-left nav-back" data-transition="slide-out"></a>-->

    <div class="info">
        <h3>@Model.MemberInfo.Name<span class="icon icomoon @(Model.MemberInfo.Gender ? "icon-male" : "icon-female")"></span></h3>
        <p><small>@(Model.MemberInfo.CityId>0 ? TagHelper.GetCityName(Model.MemberInfo.CityId) : "")</small></p>
        <img src="@ContentHelper.GetAvatarPath(Model.MemberInfo.Avatar, "mb", Model.MemberInfo.SocialType)" alt="" class="avatar">
        <p class="white"><small>@TextContentHelper.GetJoinUsDateText(Model.MemberInfo.CreatedDate)</small></p>
        <div class="btn-set mb-1">
            @if (ViewBag.MemberInfo == null)
            { 
                <a class="btn btn-default login-trigger border-none">私信 TA</a>
            }
            else
            {
                <a href="#privateMsg" class="btn btn-default border-none personal-chat">私信 TA</a>
            }
            @if (ViewBag.MemberInfo != null && Model.MemberInfo.IsLike)
            {
                <a href="#" class="follow btn border-none btn-grey" data-memberid="@Model.MemberInfo.MemberId">已关注</a>
            }
            else if (ViewBag.MemberInfo != null && (ViewBag.MemberInfo.MemberId.Equals(Model.MemberInfo.MemberId)))
            {
                <a href="#" class="follow btn border-none btn-olive" data-memberid="-1">关注</a>
            } else{
                <a href="#" class="follow btn border-none btn-olive" data-memberid="@Model.MemberInfo.MemberId">关注</a>
            }
        </div>
        <div class="statistic">
            <table class="u-full-width">
                <tbody>
                    <tr>
                        <td><a href="#"><h6>@Model.ProfileNumDic[Enums.NumberDictionaryKey.Class]</h6>教授</a></td>
                        <td><a href="#"><h6>@Model.ProfileNumDic[Enums.NumberDictionaryKey.Student]</h6>学习</a></td>
                        <td><a href="@Url.Action("following", "m", new { id = Model.MemberInfo.MemberId })"><h6>@Model.ProfileNumDic[Enums.NumberDictionaryKey.Follow]</h6>关注</a></td>
                        <td><a href="@Url.Action("fans", "m", new { id = Model.MemberInfo.MemberId })"><h6 class="fans-num">@Model.ProfileNumDic[Enums.NumberDictionaryKey.Fans]</h6>粉丝</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="content-padded">
        <p class="padded-tex">
            @Html.Raw(TextContentHelper.GetTextContent(Model.MemberInfo.SelfIntro))
        </p>
        @if (Model.ClassList != null)
        {
            <h4 align="center" class="mb-2">TA的分享课程（@Model.ClassList.Count）</h4>
        }
    </div>
    @if (Model.ClassList != null)
    {
        <div class="course-list" id="slider">
            <div class="course card">
                <div class="slider" id="mySlider">
                    <div class="slide-group">
                        @foreach (var classItem in Model.ClassList)
                        {
                            <div class="slide">
                                <div class="title-bar u-full-width">
                                    <a href="@Url.Action("course", "m", new { id = classItem.ClassId })" class="pull-left personal-cover">@Html.Raw(TagHelper.GetTextSubSting(classItem.Title, 20, true))</a>
                                    <div class="pull-right">
                                        <!--<a href="#" class="icon icomoon icon-comment white">
                                            <span class="num">14</span>
                                        </a>
                                        <a href="#" class="icon icomoon icon-heart white">
                                            <span class="num">28</span>
                                        </a>-->
                                    </div>
                                </div>
                                <a class="personal-cover" href="@Url.Action("course", "m", new { id = classItem.ClassId })">
                                    <img src="@ContentHelper.GetClassCoverPath(classItem.Cover, "ms")"></a>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
                        if (Model.ClassList.Count > 1)
                        {
        <div id="bullets" class="mb-1">
            <ul>
                @for (int i = 0; i < Model.ClassList.Count; i++)
                {
                    <li @(i == 0 ? "class=active" : "")></li>
                }
            </ul>
        </div>
                        }
    }



    <div id="comment">
        <div class="segmented-control">
            <a class="control-item active" href="#item1mobile">
                <h3>@Model.ProfileNumDic[Enums.NumberDictionaryKey.Certification]</h3>
                <h6>身份认证</h6>
            </a>
            <a class="@(Model.ProfileNumDic[Enums.NumberDictionaryKey.StudentReview] > 0 ? "control-item " : "control-item-no-js")" href="#item2mobile">
                <h3>@Model.ProfileNumDic[Enums.NumberDictionaryKey.StudentReview]</h3>
                <h6>学生评价</h6>
            </a>
            <a class="@(Model.ProfileNumDic[Enums.NumberDictionaryKey.TeacherReview] > 0 ? "control-item " : "control-item-no-js")" href="#item3mobile">
                <h3>@Model.ProfileNumDic[Enums.NumberDictionaryKey.TeacherReview]</h3>
                <h6>老师评价</h6>
            </a>
        </div>
        <div class="comment-content">
            <span id="item1mobile" class="control-content active">
                <ul class="comment-text verified">
                    <li class="card">
                        <h5>新浪微博</h5>
                        <small>weibo.com/@Model.MemberInfo.SocialAccount</small>
                        <img src="/img/icons/icon-correct.png"></li>
                    @if (Model.ProfileNumDic[Enums.NumberDictionaryKey.Certification] > 1)
                    {
                        <li class="table-view-cell">
                            <span>手机认证</span>
                            <small>@System.Text.RegularExpressions.Regex.Replace(Model.MemberInfo.Phone, @"(?im)(\d{3})(\d{6})(\d{2})", "$1******$3")</small>
                            <img src="/img/icons/icon-correct.png">
                        </li>
                    }
                </ul>
            </span>
            <span id="item2mobile" class="control-content">
                <ul class="comment-text">
                    @if (Model.StuentReview != null)
                    {
                        foreach (var reviewItem in Model.StuentReview)
                        {
                        <li class="card">
                            <div class="comment-avatar flag-num">
                                <a href="@Url.Action("personal", "m", new { id = reviewItem.MemberId })">
                                    <img class="avatar" src="@ContentHelper.GetAvatarPath(reviewItem.Avatar, "ms")">
                                </a>
                            </div>
                            <div class="comment-content">
                                <div class="msg-title">
                                    <span class="time pull-right">@reviewItem.CreatedDate</span>
                                    <h4 class="flag-num">@reviewItem.Name</h4>
                                </div>
                                <p>@reviewItem.Comment</p>
                            </div>
                        </li>
                        }
                    }
                </ul>
            </span>
            <span id="item3mobile" class="control-content">
                <ul class="comment-text">
                    @if (Model.TeacherReview != null)
                    {
                        foreach (var reviewItem in Model.TeacherReview)
                        {
                        <li class="card">
                            <div class="comment-avatar flag-num">
                                <a href="@Url.Action("personal", "m", new { id = reviewItem.MemberId })">
                                    <img class="avatar" src="@ContentHelper.GetAvatarPath(reviewItem.Avatar, "ms")">
                                </a>
                            </div>
                            <div class="comment-content">
                                <div class="msg-title">
                                    <span class="time pull-right">@reviewItem.CreatedDate</span>
                                    <h4 class="flag-num">@reviewItem.Name</h4>
                                </div>
                                <p>@reviewItem.Comment</p>
                            </div>
                        </li>
                        }
                    }
                </ul>
            </span>
        </div>
    </div>

    <div id="privateMsg" class="modal toBeRemoved">
        <header class="bar bar-nav">
            <a class="icon icon-close pull-right grey" href="#privateMsg"></a>
            <h1 class="title">私信老师</h1>
        </header>

        <div class="content">
            <div class="content-inner">
                <div class="content-padded">
                    <form data-contactid="@Model.MemberInfo.MemberId">
                        <textarea name="" id="" cols="30" rows="6" placeholder="输入你的私信内容，向老师咨询关于课程的各种问题"></textarea>
                        <button class="btn btn-primary btn-block">发送私信</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>