@model List<SkillBank.Site.DataSource.Data.ComplaintItem>
@section HeaderStyle
{
    @Html.CombresCustomUrl("contentCss")}
@section FooterJs
{@Html.CombresCustomUrl("toolsJs")}

<style type="text/css">
    .toolgroup {
        margin: 50px 0 50px 100px;
    }

    .inputtitle {
        width: 150px;
        display: inline-block;
    }
    legend {
        color:#100871;
    }
</style>
<div class="body">
    <div class="toolgroup">
        <fieldset>
            <legend>工具 </legend>
            <a href="@Url.Action("prove", "tools")" target="_blank">@Html.GetTrans(572)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("rejected", "tools")" target="_blank">查看被拒绝的课程</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="退出登录" id="logoutbtn" />
            <br />
            <br />
            <span class="inputtitle">Show Blurb Id</span><input type="button" value="Show Blurb" id="showll" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Hide Blurb" id="hidell" />
            <br />
            <br />
            <span class="inputtitle">MemberId :</span><input type="text" value="0" id="memberId" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="GO" id="setmemberid" />
            <br />
            <br />
            <span class="inputtitle">VerifyCode  :</span> @ViewBag.VerifyCode 
         </fieldset>
    </div>
    @if (ViewBag.IsAdmin)
    {
        <div style="margin: 80px 0 50px 200px">
        </div>
          

        <div class="toolgroup">
            <fieldset>
                <legend>社交账号/手机 </legend>
                <span class="inputtitle">Pass :</span><input type="text" value="" id="passcode" /><br />
                <br />
                <span class="inputtitle">解绑手机:</span><input type="text" value="" id="mobile" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Unbind Mobile" id="unbindmobile" />
                <br />
                <br />
                根据用户ID/社交账号解绑账户<br />
                <span class="inputtitle">MemberId :</span><input type="text" value="" id="accountmid" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Unbind Member Id" id="unbindmid" /><br />
                <br />
                <span class="inputtitle">SocialId :</span><input type="text" value="" id="accountsid" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Unbind Social Id" id="unbindsid" />
            </fieldset>
        </div>
    }


    @if (ViewBag.IsAdmin)
    {
        
        <div class="toolgroup">
            <fieldset>
                <legend>课程/用户管理 </legend>
                <span class="inputtitle">审批/拒绝Class :</span><input type="text" value="" id="classId" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Preview Class" id="previewbtn" />
                <br />
                <br />
                <span class="inputtitle">上线/下架Class :</span><input type="text" value="" id="classId1" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Change Class Status" id="viewbtn" />
                <br />
                <br />
                <span class="inputtitle">MemberId :</span><input type="text" value="0" id="masterMemberId" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="设置达人" id="setmaster" />
                <br />
                <br />
                <p>根据用户信息查找Member Id</p>
                <span class="inputtitle">Email Keyword :</span><input type="text" value="" id="email" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Search Member Info" id="btnsearche" />
                <br />
                <br />
                <span class="inputtitle">Name Keyword :</span><input type="text" value="" id="name" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Search Member Info" id="btnsearchn" />
                <br />
                <br />
                <span class="inputtitle">Phone Keyword :</span><input type="text" value="" id="phone" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Search Member Info" id="btnsearchp" />
                <br />
                <br />
                <span class="inputtitle">Social Account :</span><input type="text" value="" id="social" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Search Member Info" id="btnsearchs" />



            </fieldset>
        </div>
        
        <div class="toolgroup">
            <fieldset>
                <legend>课币/报表</legend>
                <a href="@Url.Action("coins", "tools")" target="_blank">课币/积分</a>
                <br />
                <br />
                <a href="@Url.Action("report", "tools")" target="_blank">用户数据报表</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("orderreport", "tools", new { b = DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd"), e = DateTime.Now.AddDays(1).ToString("yyyy-MM-dd") })" target="_blank">订单状态报表</a>
                <br />
                <br />
                <!--<a href="@Url.Action("complaint", "tools")" target="_blank">查看近期举报</a>-->
                
            </fieldset>
        </div>
                
        if(Model != null)
        {
        <div class="toolgroup">
            <fieldset>
                <legend>用户举报</legend>
                <table>
                <tr>
                    <td style="width: 200px;">举报号</td>
                    <td style="width: 200px;">嫌疑人</td>
                    <td style="width: 200px;">类型</td>
                    <td style="width: 200px;">举报人</td>
                    <td style="width: 200px;">举报时间</td>
                    <td style="width: 200px;">处理</td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ComplaintId</td>
                        <td><a href="@Url.Action("index", "profile", new {id = item.RelatedId })" target="_blank">@item.RelatedName</a></td>
                        <td>@(item.Type.Equals(1)?"收费":(item.Type.Equals(21)?"骚扰":"其它"))</td>
                        <td><a href="@Url.Action("index", "profile", new {id = item.Member_Id })" target="_blank">@item.Name</a></td>
                        <td>@item.CreatedDate.ToString("yy-MM-dd hh:mm")</td>
                        <td><a class="handlecomplaint" data-id="@item.ComplaintId">处理 @item.ComplaintId</a></td>
                    </tr>
                }
            </table></fieldset>
        </div>
        }
       
    }
    

</div>
<!-- end of body -->
