@section HeaderStyle
{<meta name="robots" content="index,follow" />
@Html.CombresCustomUrl("beTeacherCss")}
@section FooterJs{@Html.CombresCustomUrl("beTeacherJs")}
<div class="body">
    <div class="become-teacher">
        <div class="become-teacher-hd">
            <div class="inner">
                <div class="row-fluid">
                    <div class="span6">
                        <h2>@Html.GetTrans(238)</h2>
                        <p class="spaced-larger">@Html.GetTrans(239)</p>
                        <p>
                           <a href="#" class="btn btn-lg btn-primary" id="beteach-gobtn">@Html.GetTrans(240)</a><!--@Url.Action("edit", "class")-->
                        </p>
                    </div>
                    <div class="span6">
                        <div class="img-share-skills pull-right"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="become-teacher-bd">
            <div class="inner">

                <div class="become-teacher-how">
                    <h2>@Html.GetTrans(241)</h2>

                    <div class="about-class-coin"><a href="#">@Html.ActionLink(ResourceHelper.GetTransText(297), "qanda", "about", "http", "www.skillbank.cn", "qatab0s1", new { id = 0 }, null)<i class="fa fa-question-circle"></i></a></div>
                    <ul class="cf">
                        <li>
                            <a href="javascript:void(0)">1</a>
                            <div class="popover top">
                                <div class="arrow"></div>
                                <div class="popover-content">@Html.GetTrans(242)</div>
                            </div>
                        </li>

                        <li>
                            <a href="javascript:void(0)">2</a>
                            <div class="popover bottom">
                                <div class="arrow"></div>
                                <div class="popover-content">@Html.GetTrans(243)</div>
                            </div>
                        </li>

                        <li>
                            <a href="javascript:void(0)">3</a>
                            <div class="popover top">
                                <div class="arrow"></div>
                                <div class="popover-content">@Html.GetTrans(244)</div>
                            </div>
                        </li>

                        <li>
                            <a href="javascript:void(0)">4</a>
                            <div class="popover bottom">
                                <div class="arrow"></div>
                                <div class="popover-content">@Html.GetTrans(245)</div>
                            </div>
                        </li>

                        <li>
                            <a href="javascript:void(0)">5</a>
                            <div class="popover top">
                                <div class="arrow"></div>
                                <div class="popover-content">@Html.GetTrans(246)</div>
                            </div>
                        </li>

                        <hr class="backline">
                    </ul>

                </div>

                <div class="become-teacher-questions">

                    <h3 class="spaced-larger">@Html.GetTrans(364)
                        <hr>
                    </h3>

                    <div class="row-fluid spaced-larger">
                        <div class="span5">
                            <h4>@Html.GetTrans(365) </h4>
                            <p> @Html.GetTrans(366)</p>
                        </div>
                        <div class="span5 offset2">
                            <h4>@Html.GetTrans(367)</h4>
                            <p>@Html.GetTrans(368)</p>
                        </div>
                    </div>

                    <div class="row-fluid spaced-larger">
                        <div class="span5">
                            <h4>@Html.GetTrans(369)</h4>
                            <p>@Html.GetTrans(370)</p>
                        </div>
                        <div class="span5 offset2">
                            <h4>@Html.GetTrans(371)</h4>
                            <p>@Html.GetTrans(372)</p>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
<!-- end of body -->



